body
{
	background-image:url("http://www.ablt.fr/images/background/ablt-expert-comptable-4.jpg");
}


img
{
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	padding-top:15px;
}


.form-group
{
  width:100%;
  margin:auto;
  max-width:525px;
  position:relative;
}

.btn-primary
{
	width:15%;
	margin:auto;
	
	max-width:525px;
	position:relative;
}